body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #b816e088;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
}

h1, h2 {
    margin: 0.5em 0;
}

.lawyers-list ul {
    list-style-type: none;
    padding: 0;
}

.lawyers-list li {
    background-color: #f9f9f9;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.lawyers-list button {
    background-color: #f515cf;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.lawyers-list button:hover {
    background-color: #b708ce;
}

.contact-form {
    display: none;
    margin-top: 2em;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 0.5em 0 0.2em;
}

.contact-form input, .contact-form textarea {
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background-color: #aa0caf;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #a0459b;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #f1f1f1;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    .lawyers-list li {
        padding: 0.5em;
    }

    .contact-form form {
        padding: 0 1em;
    }
}
